{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <h1>Dashboard</h1>

    <table class="people-counts">
        <tbody>
            <tr>
                <td>Total people</td>
                <td>{{ person_count }}</td>
            </tr>
            <tr>
                <td>Members</td>
                <td>{{ member_count }}</td>
            </tr>
            <tr>
                <td>Non-members</td>
                <td>{{ nonmember_count }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}